@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #282c34;
  color: white;
  font-family: 'Overpass Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar span {
  color: #282c34;
}

.navbar-link {
  margin-left: 1em;
}

.alert.alert-danger.hidden {
  opacity: 0;
  transition: opacity 1s;
  height: 3.1em;
}

.alert.alert-danger.show {
  opacity: 1;
  transition: opacity 1s;
  height: 3.1em;
}

.login-container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 600px;
  padding: 2em;
  border-radius: 15px;
  color: #282c34;
}

.login-input {
  display: flex;
  justify-content: space-between;
}

.login-container span, .login-container input {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.home-container {
  display: flex;
}

.home-container .col-one, .home-container .col-two {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.home-container .top-left, .home-container .bottom-left {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 0.5em;
  height: 15em;
  width: 80%;
  border-radius: 15px;
  color: #282c34;
}

.home-container .right {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 2em;
  height: 34em;
  width: 80%;
  border-radius: 15px;
  color: #282c34;
}

.home-container img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.recipe-container {
  background-color: #282c34;
  text-align: center;
}

.recipe-container .btn {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.color-line, .bitterness-line, .abv-line {
  display: flex;
  justify-content: space-between;
}

.color-card {
  height: 2em;
  width: 15em;
  border: black solid 1px;
  border-radius: 1em;
  overflow: hidden;
  background-color: #240c0d;
  transition: background-color 1s;
}

.color-card.srm-0 {
  background-color: white;
}

.color-card.srm-1 {
  background-color: #f8f4b4;
}

.color-card.srm-2 {
  background-color: #fae06b;
}

.color-card.srm-3 {
  background-color: #f5cd51;
}

.color-card.srm-4 {
  background-color: #f3bf37;
}

.color-card.srm-5 {
  background-color: #eead1f;
}

.color-card.srm-6 {
  background-color: #e59c19;
}

.color-card.srm-7 {
  background-color: #e08f15;
}

.color-card.srm-8 {
  background-color: #d68118;
}

.color-card.srm-9 {
  background-color: #d1741c;
}

.color-card.srm-10 {
  background-color: #bd5a1b;
}

.color-card.srm-11 {
  background-color: #c4621b;
}

.color-card.srm-12 {
  background-color: #cd6f1b;
}

.color-card.srm-13 {
  background-color: #c05825;
}

.color-card.srm-14 {
  background-color: #ae4519;
}
.color-card.srm-15 {
  background-color: #af4819;
}

.color-card.srm-16 {
  background-color: #ae4519;
}

.color-card.srm-17 {
  background-color: #a83b18;
}

.color-card.srm-18 {
  background-color: #a43b18;
}

.color-card.srm-19 {
  background-color: #9e3516;
}

.color-card.srm-20 {
  background-color: #983115;
}

.color-card.srm-21 {
  background-color: #932a15;
}

.color-card.srm-22 {
  background-color: #902517;
}

.color-card.srm-23 {
  background-color: #88200f;
}

.color-card.srm-24 {
  background-color: #832116;
}

.color-card.srm-25 {
  background-color: #7e2113;
}

.color-card.srm-26 {
  background-color: #772011;
}

.color-card.srm-27 {
  background-color: #751811;
}

.color-card.srm-28 {
  background-color: #71190e;
}

.color-card.srm-29 {
  background-color: #6a160e;
}

.color-card.srm-30 {
  background-color: #67120c;
}

.color-card.srm-31 {
  background-color: #65100e;
}

.color-card.srm-32 {
  background-color: #600e0c;
}

.color-card.srm-33 {
  background-color: #5d0c0d;
}

.color-card.srm-34 {
  background-color: #58090c;
}

.color-card.srm-35 {
  background-color: #54080e;
}

.color-card.srm-36 {
  background-color: #4b0a0c;
}

.color-card.srm-37 {
  background-color: #490f0f;
}

.color-card.srm-38 {
  background-color: #400d10;
}

.color-card.srm-39 {
  background-color: #3c0c10;
}

.color-card.srm-40 {
  background-color: #240c0d;
}

.bitterness-bar {
  position: relative;
  height: 2em;
  width: 15em;
  border: solid black 1px;
  overflow: hidden;
  border-radius: 1em;
}

.bitterness {
  position: absolute;
  transition: width 1s;
  left: 0;
  height: 2em;
  background-color: #283430;
}

.abv-bar {
  position: relative;
  height: 2em;
  width: 15em;
  border: solid black 1px;
  overflow: hidden;
  border-radius: 1em;
}

.abv {
  position: absolute;
  transition: width 1s;
  left: 0;
  height: 2em;
  background-color: #283430;
}


.recipe-links {
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.like-unclicked:hover, .like-clicked:hover {
  transform: scale(1.4);
}

.like-unclicked, .like-clicked {
  color: #0053CE;
}

.beer-card, .beer-form-container {
  background-color: white;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 15px;
  color: #282c34;
}

.new-recipe-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.recipe-form-recipe-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.current-ingredient-container {
  padding-left: 2em;
  padding-right: 2em;
}

.grain-card span, .malt-card span, .hop-card span, .yeast-card span {
  color: white;
}

.grain-card button, .malt-card button, .hop-card button, .yeast-card button {
  white-space: nowrap;
}

.grain-card, .malt-card, .hop-card, .yeast-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #757576;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 15px;
}

.grain-form, .malt-form, .hop-form, .yeast-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
}

.new-ingredient-inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new-ingredient-inputs * {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.input {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hopType-radio-buttons {
  display: flex;
  flex-direction: column;
}

.btn-primary {
    color: #282c34;
    background-color: #757576;
    border-color: #757576;
}

.btn-secondary {
  color: #fff;
  background-color: #282c34;
  border-color: #282c34;
}