body {
  margin: 0;
  background-color: #282c34;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.recipe-container {
  background-color: #282c34;
}

.beer-card, .beer-form-container {
  background-color: white;
  margin: 5em;
  padding: 2em;
  border-radius: 15px;
  color: #282c34;
}

.new-recipe-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.recipe-form-recipe-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.current-ingredient-container {
  padding-left: 2em;
  padding-right: 2em;
}

.grain-card span, .malt-card span, .hop-card span, .yeast-card span {
  color: white;
}

.grain-card button, .malt-card button, .hop-card button, .yeast-card button {
  white-space: nowrap;
}

.grain-card, .malt-card, .hop-card, .yeast-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #757576;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 15px;
}

.grain-form, .malt-form, .hop-form, .yeast-form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 2em;
}

.new-ingredient-inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.new-ingredient-inputs * {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.input {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn-primary {
    color: #282c34;
    background-color: #757576;
    border-color: #757576;
}

.btn-secondary {
  color: #fff;
  background-color: #282c34;
  border-color: #282c34;
}